.rounded-corner{
  border-radius: 15px;
}
.rounded-corners{
  border-radius: 10px;
}
.to-lower{
  text-transform: none !important;
}
/* //colors
//accent: light-grey-blue
//warning: 
//secondary: yellow 
//success: 
info: grey  */