

.rounded-corner{
  border-radius: 15px;
}
.rounded-corners{
  border-radius: 10px;
}
.to-lower{
  text-transform: none !important;
}

.inspire_link{
    color: #DD2C00;
}

/* //colors
//accent: light-grey-blue
//warning: 
//secondary: yellow 
//success: 
info: grey  */